<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="author" content="Kcglobed">
    
    <link rel="shortcut icon" type="image/x-icon" href="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/images/logo/logo.png">
    <title>{% block title %}Instalearn || Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/css/theme.min.css">

    </head>
<body>
    <main class="auth-creative-wrapper">
        {% block content %}
        {% endblock %}
    </main>

    
    <script src="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/vendors/js/vendors.min.js"></script>
    <script src="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/js/common-init.min.js"></script>
    <script src="https://storage.googleapis.com/static_files_backend/media/adminpanel/assets/js/theme-customizer-init.min.js"></script>
    
    
    {% block scripts %}
    {% endblock %}

</body>
</html>