{% extends "base.html" %}

{% block title %}Create & Update Ebook{% endblock %}

{% block content %}

    <div class="nxl-content">
            <!-- [ page-header ] start -->
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">
                            {% if ebook_detail %} 
                                Update Ebook
                            {% else %}
                                Create New Ebook
                            {% endif %}
                        </h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'admin-manage-ebooks' %}">Manage Ebooks</a></li>
                        <li class="breadcrumb-item">
                            
                            {% if ebook_detail %} 
                                Update Ebook
                            {% else %}
                                Create New Ebook
                            {% endif %}

                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- [ page-header ] end -->
            <!-- [ Main Content ] start -->
            <div class="main-content">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="card stretch stretch-full">
                            <div class="card-body">
                                <div class="mb-4">
                                    {% if ebook_detail %} 
                                        <h3>Update Ebook</h3>
                                    {% else %}
                                        <h3>Create New Ebook</h3>
                                    {% endif%}
                                    
                                </div>
                                <form id="categoryForm" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{% if ebook_detail %}{{ebook_detail.id}}{% endif%}">
                                    <div class="mb-4">
                                        <label class="form-label">Title <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Title" name="name" value="{% if ebook_detail %}{{ebook_detail.name}}{% endif%}" required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description <span class="text-danger">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Description" name="description" value="" required>{% if ebook_detail %}{{ebook_detail.description}}{% endif%}</textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Book File <span class="text-danger">*</span></label>
                                        <input type="file" class="form-control" placeholder="eBook" name="book_file" accept="application/pdf"
                                        {% if not ebook_detail %} required {% endif %}>
                                    </div>
                                    <div class="d-flex justify-content-end gap-2 mt-3">
                                        <a href="{% url 'admin-manage-ebooks' %}" class="btn bg-soft-info text-info">Back</a>
                                        <button tyep="submit" class="btn btn-primary ladda-button" data-style="expand-right" id="saveCategoryBtn">Submit</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    

{% endblock %}

{% block scripts %}
    
    <script>
       $(document).ready(function () {
        
            $("#categoryForm").validate({
                errorClass: "error text-danger",
                submitHandler: function (form, event) {
                    event.preventDefault();

                    var l = Ladda.create(document.querySelector('#saveCategoryBtn'));
                    l.start();

                    // 1. Create FormData object from the form element
                    var formData = new FormData(form);

                    $.ajax({
                        url: "{% url 'admin-create-ebooks' %}",
                        type: "POST",
                        data: formData, // 2. Use the FormData object here
                        processData: false,  // 3. Tell jQuery NOT to process the data
                        contentType: false,  // 4. Tell jQuery NOT to set contentType
                        success: function (response) {
                            t.fire("Success!", response.message, "success");
                            {% if not ebook_detail %}
                                form.reset();
                            {% endif %}
                        },
                        error: function () {
                            t.fire("Error!", "Something went wrong.", "error");
                        },
                        complete: function () {
                            l.stop();
                        }
                    });
                }
            });

        });
        

    </script>

{% endblock %}